.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
bin/
gen/
coverage/
tmp/
.classpath
.settings/
.project
lint.xml
project.properties
*.xmi
.metadata

build.xml

custom_rules.xml
.idea
*/*/build/
*/build
*.iml
app/manifest-merger-production-release-report.txt
infer-out
